.animationWelcome{
    animation: fadeInSlide 0.8s cubic-bezier(0.16, 1, 0.3, 1);
}

.typing{
    animation: typing 1.2s steps(12) forwards, blink .7s step-end infinite alternate;
    overflow: hidden;
}

.blink{
    animation: blink2 .7s step-end infinite alternate;
}

@keyframes fadeInSlide {
    from {
        transform: translateX(100px);
        opacity: 0;
        filter: blur(10px);
    }
    to {
        transform: translateX(0);
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes blink2 {
    50% {
        border-color: transparent;
    }
}