.move-black{
    animation: move-black 1s ease-in-out infinite;
    background: linear-gradient(to right, #1E1E1E, #2C3E50);
    background-size: 200% 200%;
    
}

@keyframes move-black {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 30% 30%;
    }
    100% {
        background-position: 0% 0%;
    }
}