.opa-ani{
    animation: smoothFadeIn 0.7s cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes opa-ani {
    from {
        opacity: 0;
        transform: scale(0.98);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes smoothFadeIn {
    from {
        transform: translateX(50px);
        opacity: 0;
        filter: blur(5px);
    }
    to {
        transform: translateX(0);
        opacity: 1;
        filter: blur(0);
    }
}